mat-card {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .mat-card-title {
    font-size: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  
  h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  