<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput formControlName="mobile" placeholder="Mobile" required>
        <mat-error *ngIf="loginForm.get('mobile')?.hasError('required')">Mobile is required</mat-error>
        <mat-error *ngIf="loginForm.get('mobile')?.hasError('pattern')">Mobile number must be in Egyptian format</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password" required>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')">Password must be at least 6 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one special character</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card-content>
</mat-card>
